*{
    margin: 0%;
    padding: 0;
}
body{
height: 100%;
  background-image: url("https://phantom-marca.unidadeditorial.es/90401af9c0594099a28084b621f031ce/resize/1320/f/jpg/assets/multimedia/imagenes/2021/03/24/16165542921891.jpg");
background-size: cover;
}
